{% extends "templates/web.html" %} 
{% block breadcrumbs %} 
	{% include "templates/includes/breadcrumbs.html" %} 
{% endblock %} 
{% block page_content %}
<div class="col-sm-12">
	<div class="list-hero">
		<h2>{{title}}</h2>
	</div>
	<article class="team-work">
		{% if certificate %}
			<p class="bg-info">{{ certificate }}</p>
		{% endif %}
		{% if lines_filtered|length > 0 %}
		<h4>Líneas tecnológicas:</h4>
		<div class="lines">
			<ul>
			{% for item in lines_filtered %}
	            <li>{{ item.title }}</li>
	    	{% endfor %}
	    	</ul>
		</div>
		{% endif %}
		{% if director_full_name %}
		<p class="director-equipo"><b>Director/a del equipo de trabajo:</b> {{ director_full_name }} ({{ director }})</p>
		{% endif %}
		{% if members_filtered|length > 0 %}
		<h4>Miembros:</h4>
		<div class="members">
			<ul>
			{% for item in members_filtered %}
	            <li>{{ item.member_full_name }}</li>
	    	{% endfor %}
	    	</ul>
		</div>
		{% endif %}
		{% include "templates/includes/noticias/adjuntos.html" %}
	</article>
</div>
{% endblock %}
