{%- set post = doc -%}
<div class="web-list-item">
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-9">
			<h3><a href="/{{ post.route }}">{{ post.title }}</a></h3>
			{% if post.director_full_name %}
			<p><b>Director/a de equipo de trabajo:</b> {{ post.director_full_name }} ({{ post.director }})</p>
			{% endif %}
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3">
			<div class="buttons">
				<p class="readmore pull-right col-xs-12">
					<a href="/{{ post.route }}" class="btn">Leer más</a>
				</p>
			</div>
		</div>
	</div>
</div>
