.carousel-fade .carousel-inner {
  background-color: rgba(80, 80, 80, 0.9);
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-fade .carousel-indicators li,
.carousel-fade .carousel-indicators li.active {
  width: 20px;
}
.toggle-sidebar .octicon {
  font-size: 40px;
  color: #FFFFFF;
}
a {
  color: #D87524;
}
a:hover {
  text-decoration: none;
}
.web-footer {
  color: #FFFFFF;
}
.web-footer .timetable {
  margin-top: 15px;
  border-top: 1px solid #FFFFFF;
}
.page-header-block,
.module-title {
  background-image: url("/assets/fidetia/images/bg-h.jpg");
  background-repeat: repeat-x;
  background-position: center center;
}
.page-header-block h1,
.module-title h1,
.page-header-block h2,
.module-title h2,
.page-header-block h4,
.module-title h4 {
  background-color: #FFFFFF;
  display: inline-block;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-header-block h1 a,
.module-title h1 a,
.page-header-block h2 a,
.module-title h2 a,
.page-header-block h4 a,
.module-title h4 a {
  color: #444444;
}
.page-header-block h1 a:hover,
.module-title h1 a:hover,
.page-header-block h2 a:hover,
.module-title h2 a:hover,
.page-header-block h4 a:hover,
.module-title h4 a:hover {
  text-shadow: 0px 0px 2px #CCCCCC;
}
#back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
}
#back-top a {
  text-decoration: none;
  display: block;
}
#back-top a:hover {
  cursor: pointer;
  text-decoration: none;
}
#back-top span {
  display: block;
  height: 50px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  width: 50px;
  background: url("/assets/fidetia/images/backtotop.png") no-repeat center center rgba(0, 0, 0, 0.2);
}
#back-top span:hover {
  background: url("/assets/fidetia/images/backtotop.png") no-repeat center center rgba(0, 0, 0, 0.3);
}
/*Bootstrap override*/
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: inherit;
  }
}
/*End bootstrap override*/
/*menu y banner*/
#navbar {
  width: 100%;
  z-index: 100;
  -webkit-transition: all 1s linear 1s;
  -o-transition: all 1s linear 1s;
  transition: all 1s linear 1s;
}
#navbar .logo-fidetia {
  max-width: 200px;
  /*.transition(all 0.2s linear);*/
}
#navbar .navbar-default {
  padding-top: 0px;
  padding-bottom: 0px;
}
#navbar .navbar-default .navbar-nav {
  padding-top: 18px;
}
.navbar {
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
#navbar.scrolled {
  position: fixed;
  transition: all 1s linear 1s;
}
#navbar.scrolled .logo-fidetia {
  max-width: 125px;
}
#navbar.scrolled .navbar-default .navbar-nav {
  padding-top: 5px;
}
.hero-and-content.scrolled {
  padding-top: 100px;
}
#page-title {
  background-color: rgba(80, 80, 80, 0.9);
  z-index: 100;
}
#page-title h1 {
  color: #ffffff;
  font-size: 1em;
  margin-top: 10px;
}
#page-title .navbar-nav {
  border-left: 1px solid #fff;
}
#page-title .navbar-nav li {
  padding-left: 10px;
}
#page-title .navbar-nav li a {
  color: #ffffff;
}
#page-title .navbar-nav li a:hover,
#page-title .navbar-nav li a:focus {
  color: #444444;
  background-color: rgba(255, 255, 255, 0.9);
}
#page-title .navbar-nav [class^="icon-"],
#page-title .navbar-nav [class*=" icon-"] {
  padding-right: 5px;
}
#page-title .dropdown-menu li a {
  color: #444444;
}
#page-title .dropdown-menu li a:hover {
  color: #6fa7e5;
}
.page-title-abs {
  position: absolute;
  width: 100%;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/*Noticias*/
.website-list .result {
  margin-top: 0;
}
.post-content {
  text-align: justify;
}
.post-meta {
  padding-top: 10px;
}
.readmore {
  display: inline-block;
  margin: 10px 0 0;
  text-align: right;
  line-height: 1px;
  padding: 0 20px 0 0;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  border: 1px solid #d1d8dd;
  text-decoration: none;
  border-radius: 3px;
  color: #1195D8;
}
.readmore:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 12px;
  background: url('/assets/fidetia/images/readmore.png');
  top: 50%;
  margin-top: -6px;
  right: 35px;
  left: auto;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.readmore:hover {
  text-decoration: none;
  text-shadow: -1px 1px 20px #ccc, 1px -1px 20px #ccc;
}
.readmore:hover:after {
  right: 20px;
}
.readmore > a.btn {
  width: 100%;
  background: none;
  padding: 5px 0;
  border: none;
  vertical-align: top;
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
}
.readmore > a.btn .icon-chevron-right {
  display: none;
}
.list-hero {
  padding-top: 0px;
}
.buttons {
  padding-top: 10px;
}
h3,
h4 {
  font-weight: normal;
  color: #009ce4;
}
h3 a,
h4 a {
  color: #444444;
}
h3 a:hover,
h4 a:hover {
  text-shadow: 0px 0px 2px #CCCCCC;
}
.web-footer {
  background-color: rgba(80, 80, 80, 0.9);
}
.web-footer-menu {
  background-color: #efefef;
  padding-top: 10px;
  margin-top: 50px;
  text-align: center;
}
.web-footer-menu .list-inline > li {
  padding-left: 10px;
  padding-right: 10px;
}
.web-footer-menu a {
  color: #666666;
}
.web-footer-menu a:hover,
.web-footer-menu a.active {
  color: #337ab7;
}
p {
  text-align: justify;
}
.right-content .web-list-item,
.right-content .web-list-item {
  padding: 0 10px;
  border-left: 2px solid #d79147;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 2px #dfdfdf;
  box-shadow: 2px 2px 2px #dfdfdf;
}
/*Home*/
.certificaciones a {
  padding-right: 5px;
}
.certificaciones a:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.top-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
.icons-home .icono {
  border: 1px solid #cccccc;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.important {
  background-color: #ee9700;
  border-radius: 4px;
  padding: 1px 7px;
  color: #FFFFFF;
}
ul.top-nav-bar > li > a {
  font-weight: bold;
}
#the-carousel {
  background: #efefef;
  background: -moz-linear-gradient(45deg, #efefef 0%, #cccccc 18%, #e2e2e2 21%, #eaeaea 84%, #e2e2e2 85%, #cccccc 100%);
  background: -webkit-linear-gradient(45deg, #efefef 0%, #cccccc 18%, #e2e2e2 21%, #eaeaea 84%, #e2e2e2 85%, #cccccc 100%);
  background: linear-gradient(45deg, #efefef 0%, #cccccc 18%, #e2e2e2 21%, #eaeaea 84%, #e2e2e2 85%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#cccccc', GradientType=1);
  -webkit-box-shadow: 0 6px 10px #cccccc;
  box-shadow: 0 6px 10px #cccccc;
}
.sidebar-nav .nav.affix {
  top: 90px;
}
/*Sidebar*/
/* make sidebar nav vertical */
@media (min-width: 768px) {
  /*TopBar*/
  .top-nav-bar a.active,
  .top-nav-bar a.active-sec {
    border-bottom: 1px solid #ffffff;
  }
  ul.top-nav-bar li ul li a.active,
  ul.top-nav-bar li ul li a.active-sec {
    color: #099DB9;
  }
  /*LateralNav*/
  #sidebar-wrapper {
    padding-left: 0;
  }
  .sidebar-nav .navbar {
    border-bottom-width: 0;
    background-color: inherit;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
  .sidebar-nav .navbar ul li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar ul li a {
    color: #444444;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid #dddddd;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .sidebar-nav .navbar ul li a:hover {
    background-color: #f6f6f6;
    color: #666666;
  }
  .sidebar-nav .navbar ul li a.active,
  .sidebar-nav .navbar ul li a.active-sec {
    background-color: #f1f1f1;
    border-right: 3px solid #9CDFF9;
  }
}
@media (max-width: 767px) {
  .dropdown-menu {
    background-color: #FFFFFF !important;
  }
}
.password-strength-indicator {
  float: right;
  padding: 15px;
  margin-top: -38px;
  margin-right: -7px;
}
.password-strength-message {
  margin-top: -10px;
}
.bg-info {
  background-color: #d9edf7;
  padding: 15px;
}
